body{
	background-color: aliceblue;
}

.viewer-img{
	width: 350px;
	height: 250px;
	margin: 50px 0 10px 100px;
}
.image-container{
	display: flex;
	flex-direction: row;
	margin-bottom: 10px;
}

.thumb{
	width: 100px;
	height: 80px;
	margin: 0 2px;
}
button{
	margin: 20px 20px;
	font-weight: bold;
}